body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header, footer{
    background-color: rgb(107, 142, 35);
    color: white;
    text-align: center;
    padding:  3px;
}
#first{
    background-color: rgb(255, 218, 185);
    padding:  3px;
}
#left, #right{
    background-color: rgb(255, 239, 213);
    width: 27%;
    height: 550px;
}
#centr{
    background-color: rgb(255, 239, 213);
    width: 46%;
    height: 550px;
}
#second{
    display: flex;
}
h3{
    text-align: center;
}
h3::first-letter{
    color: green;
}
img{
    height: 90px;
    margin: 7px;
    transition: background-color 0.3s ease;
}
img:hover{
    background-color: rgb(255, 218, 185);
}

